.name{
  float:left;
  text-transform: uppercase;
}
li{
  float: right;
  list-style: none;
  padding: 5px;
}
li:hover{
  color: blue;
}
.home-area{
  text-align: center;
  background-image: url(img/download.png);
  background-size: cover;
  background-repeat: no-repeat;
  height:500px;
  width: 1280px;
}
.navbar{
  background-color: grey;
  padding: 30px;
}
.home-area >p{
  font-size: 50px;
  color: green;
  font-style: italic;
}
h2{
  color: magenta;
}
body{
  text-align: center;
}
.image{
  background-color: #ff57;
}
.jump{
  color:lime;
}
table,td,th{
  border: 1px solid yellow;
  border-spacing: 0px;
  color: white;
  text-align: center;
}
td,th{
  padding: 5px;
}
p{
  list-style-type: circle;
}
.about-area{
  background-color:#d4d7de;
  border-radius: 8px;
}
.contacts-area{
  background-color: #000;
}
